<div class="main-container">
  <div class="filter_container">
    <button class="saved-list">
      <ion-icon name="list-outline"></ion-icon> Saved Lists
    </button>
    <button class="normal-button">
      <ion-icon name="funnel-outline"></ion-icon>
      Saved filters
    </button>
    <button class="normal-button">
      <ion-icon name="timer-outline"></ion-icon>
      search history
    </button>
    <div class="search_container">
      <input type="text" class="search-text-box" placeholder="Search" [(ngModel)]="searchString">
    </div>
  </div>
  <div class="table-detail-container">
    <div class="table-container">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">List Name</th>
            <th scope="col">No. of Entities</th>
            <th scope="col">Actions</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of tableData| searchPipe:searchString; let i = index;" [ngClass]="{'selected':i === selectedIndex}">
            <td scope="row">{{data.date | date:'LLL dd'}}</td>
            <td>{{data.list_name}}</td>
            <td>{{data.no_of_entities}}</td>
            <td>
              <span class="icon"><ion-icon name="mail-outline"></ion-icon></span>
              <span class="icon"><ion-icon name="share-social-outline"></ion-icon></span>
              <span class="icon"><ion-icon name="pencil-outline"></ion-icon></span>
              <span class="icon"><ion-icon name="trash-outline"></ion-icon></span>
            </td>
            <td> <button (click)="getCompanyDetails(i,data)" class="company-details-btn" [ngClass]="{'btn-selected':i === selectedIndex}">Details</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="details-container">
      <app-details-component [selectedCompanyList]="selectedCompanyList"></app-details-component>
    </div>
  </div>
</div>